<h1>Some page with modal window</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae blanditiis commodi consequuntur eius est
  ipsa iste iusto labore, minima molestias nam nostrum omnis, pariatur possimus qui quia recusandae reiciendis
  reprehenderit rerum sunt suscipit, tempore velit. A aliquid aspernatur, delectus dicta ea eaque esse et ex minus nobis
  perspiciatis porro sit vel! Accusamus ad aliquid aperiam at, autem blanditiis consectetur cupiditate dicta dolorem
  doloremque eius eos eum ex harum id illum iure minus mollitia necessitatibus nemo nesciunt nihil nisi officiis optio
  pariatur perferendis placeat possimus quas qui quisquam quos rerum tempore tenetur totam ullam veniam voluptas.
  Aperiam assumenda at blanditiis cumque, deleniti earum eius eum hic laborum maiores mollitia nihil nulla officia
  officiis perspiciatis sunt suscipit temporibus tenetur vero vitae! Accusamus aspernatur consequuntur corporis
  cupiditate deserunt eos eum in laborum minima molestias, non nostrum, nulla quod similique tenetur. Aliquam aliquid
  animi aperiam aut blanditiis dolore excepturi harum illo ipsam iste magnam minima nobis non obcaecati omnis, optio
  perferendis perspiciatis porro, praesentium quam quidem sapiente soluta veniam! Adipisci amet cum ipsa minus nemo
  quasi? Adipisci animi consectetur deleniti dignissimos dolor est et eveniet fuga fugiat fugit illo illum ipsa labore
  laboriosam magni maiores, maxime minima non nulla perferendis perspiciatis praesentium quae quidem ratione voluptas?
  Eos est laboriosam, magni perferendis quas recusandae reprehenderit unde. Assumenda, impedit maxime? Adipisci ducimus
  est iusto! Aperiam cumque debitis eaque exercitationem hic, incidunt minus molestias mollitia non officia praesentium
  recusandae sapiente soluta tempora unde? Blanditiis consequuntur ea eius impedit in, iste perferendis sapiente sit
  voluptates. Alias delectus illo, labore necessitatibus ratione sunt veritatis? Cumque ducimus eaque impedit ipsa
  itaque laborum nostrum praesentium quo ullam voluptatem? Aperiam assumenda, consequuntur dolores doloribus dolorum
  esse expedita impedit ipsum nihil nisi numquam quae, quasi quibusdam reiciendis, sunt! Aliquam amet autem eum eveniet
  fugiat nihil quas. Animi blanditiis consequatur distinctio dolore, est modi nemo nihil quo quod reiciendis sapiente
  veritatis, voluptatem? Ad eaque fugiat nam non quam. A accusamus alias atque enim est, fuga harum molestias non
  praesentium quia quo rem rerum, sapiente, veniam voluptate. Cumque ea exercitationem odio? Accusantium amet asperiores
  assumenda at atque aut delectus dignissimos, doloremque eaque excepturi illo molestiae molestias necessitatibus neque
  reprehenderit rerum saepe sapiente sit sunt veritatis. Ab, ad aliquid animi, architecto cum dolore eos error, illum
  impedit labore laudantium magnam modi molestias nostrum pariatur possimus quis vero? Adipisci amet consequuntur eius,
  esse exercitationem fuga harum id itaque nesciunt recusandae! Ab accusantium ad aspernatur culpa debitis dicta
  dignissimos doloremque ducimus eligendi excepturi fuga illo iste laborum nesciunt odio quam quasi rerum sapiente,
  similique sit, soluta suscipit totam. Ab accusamus adipisci aliquid aperiam architecto asperiores blanditiis corporis
  dicta distinctio dolorum ea eius error et eum fugit harum illum impedit incidunt ipsam ipsum, laborum magnam maxime,
  minus molestias nam natus necessitatibus nihil provident reiciendis repellat saepe sed sunt unde, ut vitae voluptas
  voluptate! At consequuntur, dolor fugiat in inventore ipsum odio quaerat quo voluptatibus. Adipisci aliquid animi
  assumenda atque corporis distinctio dolore ducimus eaque, esse eum exercitationem id libero maiores modi
  necessitatibus nemo officiis omnis optio praesentium quaerat quam quas quo recusandae reprehenderit sint temporibus,
  veritatis voluptatibus! Accusamus blanditiis corporis dolorem eaque et illo laudantium provident quis sint voluptates.
  Aspernatur blanditiis corporis dolor doloremque esse est excepturi id, inventore, maxime, nam necessitatibus optio
  provident quibusdam quidem quisquam quod sit. Animi, architecto consequatur culpa delectus dolor dolore dolorum enim
  eos esse est excepturi facere facilis illum impedit iste maiores molestias nostrum obcaecati odit porro quaerat
  quisquam, quod reiciendis tempore tenetur totam veniam voluptatem? Consequuntur dicta eveniet inventore nostrum.
  Adipisci, dolorem eius eum nulla officia optio quis quo temporibus vel. Assumenda consequatur corporis debitis maiores
  natus ratione saepe, sed. Esse harum labore praesentium vel voluptates. Ab animi commodi doloremque dolores doloribus
  eaque eius eligendi eos eveniet facilis fuga fugit iure, iusto laudantium magni mollitia necessitatibus nihil non
  officiis omnis perspiciatis, quas quo rem sapiente tempora voluptate voluptatem! Aliquid animi aut debitis delectus
  deleniti deserunt dicta distinctio dolore dolorem dolorum earum eveniet explicabo hic incidunt, inventore ipsam iure
  laborum maiores molestiae necessitatibus, nemo nesciunt optio possimus praesentium quas quia quo quod repudiandae
  rerum saepe tempore totam unde voluptatem? Alias amet architecto asperiores at autem corporis culpa dicta dolores
  earum eum explicabo fugiat fugit id illo illum impedit ipsa ipsum iure maxime mollitia nam odit possimus quam quisquam
  recusandae rem repudiandae sunt suscipit temporibus ullam veniam veritatis vitae, voluptatibus. Ab aliquid assumenda
  aut blanditiis consequatur delectus deleniti deserunt dicta dolores doloribus eius eveniet facere incidunt inventore
  ipsa minus mollitia nesciunt nulla numquam perspiciatis possimus quae quas quibusdam quidem quis quo, quos
  repellendus, repudiandae sunt tempora totam ullam ut vel veniam vero vitae voluptatibus! Architecto aspernatur atque,
  autem, beatae consequuntur culpa dolorem ea earum facilis incidunt iure libero modi odit quidem saepe totam vitae?
  Aliquid autem consequatur cupiditate debitis ea recusandae repellendus veritatis. Accusantium aliquam corporis culpa
  deserunt dolore dolorem dolores ea eos fuga fugiat impedit incidunt inventore ipsam laboriosam, laudantium molestias
  nostrum porro quaerat quos ratione recusandae sequi soluta voluptatum? Accusantium autem deserunt doloremque et
  explicabo ipsam ipsum, iure iusto laudantium nam nostrum obcaecati odit praesentium quisquam veniam. Accusamus, alias
  amet aspernatur consequuntur culpa cumque deserunt dicta dolorem ea eius et exercitationem fuga fugit id illo in
  incidunt maiores molestias neque nulla odio officiis perferendis porro, quaerat quos, suscipit unde ut velit vero
  voluptatem? Ab architecto at atque autem consequuntur culpa dicta dolores dolorum, eius eligendi error eveniet
  exercitationem illum libero magnam minus nam nesciunt nisi, nulla odit officiis, perferendis porro quaerat ratione
  recusandae sapiente tempore ut veritatis voluptate voluptatum. Beatae commodi debitis dolor ipsa nemo nihil numquam!
  Ab at aut cupiditate eius, enim facilis id ipsa, natus odit quia, quisquam quod rem unde vel voluptatem? At atque, cum
  fugiat, illum natus nostrum perferendis quaerat quidem sapiente sed sit temporibus vel! A accusamus aliquam molestiae
  reprehenderit sapiente. Ad aliquid amet autem consectetur cum cumque dolorem error est et expedita explicabo fugiat
  fugit impedit in incidunt ipsa ipsam laborum magnam nam nisi numquam officiis optio perspiciatis quasi qui, quo
  ratione rem repellendus, rerum sapiente, tenetur unde voluptas voluptatem! Accusantium at distinctio expedita fugit
  nam natus quasi, qui quia repellendus ut. Beatae doloribus excepturi hic itaque libero natus provident, quos vitae
  voluptatem! Dolore libero praesentium temporibus voluptates? Asperiores consequuntur cupiditate deleniti dolor ducimus
  ea eaque esse ex fugit harum in itaque magnam maiores minus, nesciunt nihil nostrum obcaecati, officia praesentium
  provident quae quaerat quasi reiciendis repellat sint, totam veniam voluptatibus! Accusamus aliquid consequatur
  corporis cumque, dolorum eius facilis hic impedit ipsum magni perferendis quaerat quas repellat repudiandae ullam
  veritatis voluptatibus. Aliquid autem consequuntur cupiditate dicta, dolor dolorem, doloremque ducimus ea eius eos
  explicabo facere facilis harum ipsam itaque libero necessitatibus neque odit possimus quae quod sed, sequi soluta
  ullam vel veniam veritatis vero. Ad animi architecto, eaque ipsa reprehenderit sequi vero! A accusamus aspernatur
  assumenda consequatur culpa cupiditate debitis dolor eligendi, enim exercitationem facere fuga harum ipsa, iusto
  laboriosam maxime minima numquam optio perspiciatis quae quasi quo recusandae similique tempora velit veritatis vero
  voluptatibus. Doloremque maxime perferendis sint voluptatum! Aliquam debitis, dolorum eius et expedita in, inventore
  magni, odit officia pariatur perspiciatis placeat porro quam quo sapiente. Alias animi commodi consequatur,
  consequuntur cum cumque delectus deserunt dicta dignissimos earum eos error esse excepturi exercitationem expedita
  explicabo fugit in inventore nam odio officia officiis quae quibusdam sit sunt. Ab amet architecto assumenda,
  blanditiis consectetur, cum distinctio dolore fugit itaque placeat possimus quasi quia quidem reiciendis saepe tempora
  tenetur ullam voluptatum? Cumque dignissimos excepturi iste iusto numquam officiis quae quia quidem similique sunt? Ab
  accusamus, accusantium deleniti deserunt eligendi enim eos esse facilis fuga molestiae odio quia repudiandae rerum
  saepe soluta tempore unde voluptatum! Ad aperiam dicta harum hic impedit ipsam laudantium magni necessitatibus odio
  perspiciatis possimus, quaerat quo repudiandae sunt totam? Ad amet aspernatur blanditiis commodi consectetur
  consequatur cupiditate deserunt distinctio dolorem enim ex exercitationem explicabo natus nobis non obcaecati
  perspiciatis praesentium quasi qui quisquam quo repudiandae similique temporibus unde ut vitae voluptas, voluptatibus.
  Consequatur dolore dolorum eligendi, et ex excepturi expedita, in inventore mollitia omnis quaerat quam quos
  recusandae sapiente, unde. Amet, animi autem, beatae debitis, deleniti doloremque eaque fugiat id illo impedit
  incidunt ipsa quia ratione saepe totam veniam voluptatem. Ad autem dignissimos doloremque id iste perferendis quod
  sequi totam veritatis vero! Aliquid autem cupiditate dolores facilis fuga, in neque quasi quibusdam quisquam quo
  repellendus velit voluptate voluptatibus? Consectetur cum eaque iusto, nisi quasi rerum unde. A accusantium atque eos,
  fugiat harum illum necessitatibus tempore velit? Ad commodi corporis culpa dignissimos facilis, harum in ipsum itaque
  libero quasi reiciendis repellendus ullam voluptate. Ab commodi maxime obcaecati temporibus! Debitis, inventore iusto.
  Aliquam atque deserunt eos hic inventore molestiae necessitatibus, neque nesciunt vitae! Asperiores consequuntur
  eveniet nisi pariatur perferendis reprehenderit, tenetur vitae! Alias consequuntur debitis dicta dignissimos ipsa
  ipsum perspiciatis sit veritatis voluptates! Atque consequuntur dignissimos dolorem ducimus eligendi enim esse
  exercitationem ipsam iste laudantium libero necessitatibus neque nesciunt odio officiis optio, praesentium provident
  qui velit vero? Adipisci dolor eaque eum facilis iure magnam optio, quos reprehenderit veniam voluptates! Dolor
  doloremque enim fugiat fugit magni molestiae natus nihil quae quidem ut, vel voluptas voluptates voluptatum. Ad, illum
  modi! Consectetur deserunt doloribus, eos fuga id natus, nobis porro, quasi quo ratione soluta voluptatum? Dolores
  eaque eligendi et fugit minima mollitia perferendis placeat quaerat quod tempora. Alias aliquam consequatur cum
  dolores doloribus eaque eius fuga illo ipsam iure magnam non quas quasi qui, similique unde voluptas. Deleniti fuga
  maiores maxime, nemo odio quod sit ullam vel! Non, quod sed! Culpa cupiditate dolor dolore explicabo in laudantium,
  minus natus nemo, neque nobis numquam, obcaecati quae quas quasi quod repellat saepe sequi similique ullam
  voluptatibus! Corporis facilis incidunt libero minus perferendis quibusdam repudiandae sed unde. Corporis culpa
  deleniti dolor esse impedit optio quaerat, quasi. Accusantium alias animi autem blanditiis corporis culpa cumque
  delectus deserunt dicta, doloremque esse fugit id illum iusto labore magni molestiae nam necessitatibus nihil nisi
  nobis non nostrum numquam perspiciatis possimus quae quam qui quisquam quod, repellat repellendus sapiente sint soluta
  sunt tempora veniam voluptates! Aspernatur culpa distinctio dolor dolorem fugit maxime numquam perferendis tenetur.
  Autem distinctio exercitationem fugit in, ipsum nam officiis vel voluptatum. Ab asperiores, atque cum cumque earum
  exercitationem laboriosam maiores minima mollitia nemo nostrum, omnis quae quaerat quidem recusandae sequi sit
  voluptatibus, voluptatum? Ad, alias cumque dignissimos minus, modi mollitia optio porro reiciendis repellat veritatis
  vitae voluptas. Cum error excepturi fugit harum illo illum in laudantium minus modi non, officia officiis, pariatur
  perferendis quasi quisquam quos repellendus sit ut voluptas voluptates? Autem consectetur cupiditate deleniti dolor,
  doloremque enim esse est exercitationem facilis fuga inventore maiores obcaecati quasi quidem quisquam quod,
  recusandae sapiente unde, ut voluptatibus. Accusamus aspernatur debitis dicta eaque eius, enim est impedit ipsum
  minima natus nostrum odio porro quos ratione sapiente sequi soluta ullam? Adipisci aliquid amet aut doloribus et fuga
  necessitatibus nesciunt provident rerum vitae. Aperiam corporis est excepturi exercitationem, explicabo facere fugiat
  hic impedit inventore iusto mollitia natus recusandae sapiente sint sunt. Harum, labore, minima! A accusantium
  adipisci aut autem commodi cupiditate dicta eos facere in itaque labore magnam mollitia necessitatibus nostrum placeat
  quidem quisquam, unde ut! Facere harum laboriosam magnam neque quia reiciendis repellat rerum tenetur voluptatem. A
  accusantium alias aliquam delectus deleniti est et explicabo ipsam laborum neque nostrum numquam odio, quaerat quidem,
  ratione similique sint totam veniam voluptas voluptates? Commodi consequuntur ipsa praesentium reprehenderit vel!
  Cupiditate excepturi facilis labore. Accusantium aliquid aperiam atque cum eligendi esse, fugiat, incidunt laborum
  laudantium mollitia nisi placeat qui quisquam recusandae reiciendis, velit vitae! Expedita modi qui repellat tempora.
  A, aliquid at atque autem commodi culpa cumque cupiditate dignissimos doloribus eveniet, excepturi id illum in labore
  magni non odit placeat porro quis quo repudiandae sunt tempore, temporibus tenetur totam velit veniam voluptas.
  Adipisci, corporis eligendi enim mollitia nam nostrum officiis quae quam repellat reprehenderit, unde vel vitae
  voluptatum. Consequatur cupiditate dolorem eaque enim, esse eum, explicabo illo itaque molestiae perspiciatis possimus
  quisquam repudiandae sit! Accusantium corporis, dolor excepturi incidunt labore laudantium praesentium. Architecto
  culpa ea, eligendi eos fugiat impedit ipsa laboriosam necessitatibus numquam optio quisquam ratione repellat
  repudiandae tempora voluptate? Aliquid animi ea eum ipsam itaque quae, quasi qui repudiandae.</p>
<button (click)="openModal()">open modal</button>

<ff-modal [ff-content]="tpl" *ngIf="flag" (closed)="onClosed($event)"></ff-modal>

<ng-template #tpl>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium modi non vitae. A consequuntur delectus,
    dolore est maiores mollitia quaerat quisquam quos sit vel! Ad aliquam aperiam asperiores atque cupiditate, et
    explicabo facere inventore laborum molestiae nobis porro provident quaerat quis ratione saepe sapiente sit vero?
    Accusamus accusantium aliquam aliquid architecto doloremque ducimus, esse exercitationem fugit id inventore
    laudantium mollitia odio placeat quae quasi qui reiciendis saepe sit suscipit temporibus! Animi aperiam assumenda
    cupiditate, dicta dignissimos dolore doloribus ducimus enim facilis in libero molestias, mollitia nostrum odit quia
    temporibus vitae! Ab animi dolorem doloribus, eos est et molestiae nulla quasi?
  </div>
</ng-template>


